<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/../static/css/style.css">
<head>
    <meta charset="UTF-8">
    <title>Monitorings</title>
</head>
<body>
    <div class="header">
        <h1>Добро пожаловать в панель создания мониторингов. Выберете нужный пункт:</h1>
    </div>
    <div class="button-link" >
        <input><a href="/monitorings/new_draft" type="submit">fwefwef</a></input>
    </div>
    <div class="button-link" >
        <button><a href="/monitorings/new_draft">Создать мониторинг в статусе "Проект"+ decision</a></button>
    </div>
    <div class="button-link">
        <button>Создать мониторинг в статусе active</button>
    </div>
    <div class="button-link">
        <button>Создать мониторинг в статусе active + posts</button>
    </div>
    <div class="button-link">
        <button>Создать мониторинг в статусе addressed</button>
    </div>
    <div class="button-link">
        <button>Создать мониторинг в статусе declined</button>
    </div>
</body>
</html>